<md-card>
  <img *ngIf="(authService.photoUrlStream | async) as photoUrl;else missingPhotoTemplate" [src]="photoUrl" alt="Google profile photo">
  <template #missingPhotoTemplate>
    <img src="assets/images/missing_photo.png" alt="Photo missing">
  </template>
  <form fxFlex (ngSubmit)="onSubmit()">
    <md-input-container fxFlex dividerColor="warn">
      <input mdInput type="text" placeholder="Make a post" required 
      [(ngModel)]="postBody" name="postBody">
    </md-input-container>
  </form>
</md-card>
