<div fxLayoutAlign="center center">
  <md-card *ngIf="!(authService.isSignedInStream | async);else alreadySignedInTemplate" fxLayout="column" fxLayoutAlign="none center">
    <md-card-title>
      <span fxShow="false" fxShow.gt-xs>
    You must be signed in to use this app
    </span>
      <span fxShow="false" fxShow.xs>
      Must be signed in
    </span>
    </md-card-title>
    <button id="google-button" md-button (click)="authService.signInWithGoogle()"></button>
  </md-card>

  <ng-template #alreadySignedInTemplate>
    <md-card fxLayout="column" fxLayoutAlign="none center">
      <md-card-title>
        Signed in as {{authService.displayNameStream | async}}
      </md-card-title>
      <button md-raised-button (click)="authService.signOut()">Sign Out</button>
    </md-card>
  </ng-template>
</div>
